.hero-image {
    width: 100%;
}
.product-hero-image {
    width: 100%;
    height: 300px;
}
body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
/* Navigation */
.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.item {
    color: #3d696f;
    padding: 10px;
    font-family: 'Sintony', sans-serif;
}

.item:hover {
    color: #132e31;
    cursor: pointer;
    font-weight: bold;
}

.shop-nav {
    color: #3d696f;
    background: white;
    font-family: 'Sintony', sans-serif;
    position: absolute;
    width: auto;
    right: 261spx;
    padding: 4px 7px;
    display: none;
}

.shop:hover > .shop-nav {
    display: block;
}

/* Logo */

.logo {
    margin-left: 50%;
    margin-right: 50%;
    width: 60%;
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
}